{% extends "base_app.html" %}
{% block content %}
{% if user.is_authenticated %}
<p><a href='/chat'>chat</a></p>
<form action="add_contact" method="get">
    {% csrf_token %}
    <p><label for="first_name">First Name</label></p>
    <p><input type="text" id="first_name" name="first_name"></p>
    <p><label for="last_name">Last Name</label></p>
    <p><input type="text" id="last_name" name="last_name"></p>
    <p><label for="username">User Name</label></p>
    <p><input type="text" id="username" name="username"></p>
    <input type="submit" value="Add">
</form>

<div>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>  
{% else %}
Hey! I am chatter!
Chat with me!!
{% endif %}
{% endblock %}