{% extends "base_app.html" %}
{% block content %}
{% if user.is_authenticated %}
<p><a href='/chat'>chat</a></p>
<p><a href='/accounts/contacts'>contacts</a></p>
<p><a href='/accounts/create_group'>create group</a></p>
<p><a href='/chat/search'>search</a></p>
<form action="add_users_to_group" method="post">
    {% csrf_token %}
    <h3>{{ room_name }}</h3>
    <p><input type="hidden" id="room_id" name="room_id" value='{{ room_id }}'></p>
    <h3>Contacts</h3>
    {% for contact in contacts %}
    <li><input type="checkbox" id='contact[]' name='contact[]' value='{{ contact.username }}'>
    <label for='contact[]'> {{ contact.first_name }} {{contact.last_name }}</label></li>
    {% endfor %}
        <input type='submit' value='Add'>
</form>
<div>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>  
{% else %}
Hey! I am chatter!
Chat with me!!
{% endif %}
{% endblock %}