<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PiChat</title>
</head>
<body >
    <header class='header container-fluid border'>
        <div class="row " id="nav_list">
            <div class='col-md nav-head '><img src="{% static 'img/logo1.png' %}" class="logo"></div> 
            {% if user.is_authenticated %}    
            <a class='col-md-2 nav_name' :class="currentTab === 'Profile' ? 'active' : ''" v-on:click="currentTab='Profile'" >Hi, {{ user.username }}</a>
            {% endif %}
            <a class='col-md-2 nav_tab ' href='/' :class="currentTab === 'Home' ? 'active' : ''" v-on:click="currentTab='Home'">HOME</a>
            {% if user.is_authenticated %}    
            <a href='/accounts/logout' class='col-md-2 nav_tab' :class="currentTab === 'logout' ? 'active' : ''" v-on:click="currentTab='logout'">LOGOUT</a>
            {% endif %}
            <a href='/about' class='col-md-2 nav_tab' :class="currentTab === 'about' ? 'active' : ''" v-on:click="currentTab='about'">ABOUT</a>   
        </div>
    </header> 
        {% block content %}
        {% endblock %}
        <div class="container-fluid footer border">
        All rights reserved @sutanu.p
        </div>
        <script>
            var user="{{user|safe}}";
            // Add the following code if you want the name of the file appear on select
            function readURL(input) {
                document.querySelector(".files").innerHTML=''
                for(var i=0;i<input.files.length;i++){
                    document.querySelector(".files").innerHTML+='<label class="upload_files">'+input.files[i].name+'</label>'
                }
            };

            function sendApply(input) {
                document.querySelector(".files").innerHTML=''
            };

            function setScroll(){
                $('.chat_window').scrollTop($('.chat_window')[0].scrollHeight);
                setTimeout(() => { $('.chat_window').scrollTop($('.chat_window')[0].scrollHeight) }, 50);
            }

        </script>  
        <script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'></script>
        <script  type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>
        <script  type="text/javascript" src="{% static 'js/vue.js' %}" ></script>
        <script  type="text/javascript" src="{% static 'js/axios.min.js' %}" ></script>
        <script  type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script  type="text/javascript" src="{% static 'js/pannel.js' %}"></script>
    </body>
</html>