<!DOCTYPE html>
<html>
<head>
		<title>Home Template</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
</head>
<body>
    <div class=header>
        Chatter
    </div>
    <div class=nav>
        <li>Home</li>     
        <li>Register</li>
        <li>Login</li>
        <li>About</li>
    </div>
    <div class=main>
        {% block content %}
        {% endblock %}
    </div>
    <div class=footer>
        All rights reserved @sutanu.p
    </div>
</body>
</html>