<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h3>Chat Box[ {{ room_name }} ]</h3>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-attachment" multiple size="50" type="file" /><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    {% if room_type  %}
    <p><a href='/accounts/add_group_user_{{ room_id }}'>Add user +</a></p>
    {% endif %}
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'></script>
<script type="text/javascript" src="{% static 'js/chatroom.js' %}"></script>
</html>
