{% extends "base_app.html" %}
{% load static %}
{% block content %}
<div class="container-fluid "> 
    <div class="row">
        <div class='col-md-9 main' id="main">
            {% if user.is_authenticated %}
            <div class="row">
                <div class="loading"></div>
            </div>
            <div class=' row' v-if='profile'>
                <div class="profile">
                    <i class="fa fa-window-close close_button" aria-hidden="true" @click="profile=null"></i>
                    <i class="fa fa-save close_button" aria-hidden="true" v-show="profile.is_self" @click="saveEditedProfile"></i>
                    <img :src="profile.data.img_link" class="profile_image" data-toggle="modal" id='modal_profile_image' data-target="#profileModal"> 
                    <label class="profile_details">
                        <div ><b> Name     :</b>
                            <label class="owner_profile_name" > 
                                [{ profile.data.name }]  
                                <i class="fa fa-edit" v-show="profile.is_self" style="color: blue;" onclick="toggleInput('owner_profile_name')"></i>
                            </label> 
                            <label for="profile_name_input " class="owner_profile_name hide" v-show="profile.is_self" style="color: blue;">
                                <input type="text"  v-model="profile.data.name" id="profile_name_input">
                                <i class="fa fa-window-close"  onclick="toggleInput('owner_profile_name')"></i>
                            </label> 
                        </div>
                        <div  v-show="!profile.data.is_group"><b> Username     :</b>
                            <label class="owner_profile_username" > 
                                [{ profile.data.username }]  
                            </label> 
                        </div>
                        <div  v-show="!profile.data.is_group"><b> E-mail     :</b>
                            <label class="owner_profile_email" > 
                                [{ profile.data.email }]  
                                <i class="fa fa-edit" v-show="profile.is_self" style="color: blue;" onclick="toggleInput('owner_profile_email')"></i>
                            </label> 
                            <label for="profile_email_input " class="owner_profile_email hide" v-show="profile.is_self" style="color: blue;">
                                <input type="text" :style="profile.is_self==false? 'display: none':'outline: none;' " v-model="profile.data.email" id="profile_email_input">
                                <i class="fa fa-window-close"  onclick="toggleInput('owner_profile_email')"></i>
                            </label> 
                        </div>
                    </label>
                    <div v-if="profile.data.is_group" >
                        <div class='status'>Members</div>
                        <div  v-for="member in profile.data.members"> 
                            <div class='member' @click="renderChatWindow(member)">[{member.name}]</div>
                        </div>    
                    </div>
                    <div class='status' v-else> 
                        <label class="owner_profile_status" > 
                            [{ profile.data.status }]  
                            <i class="fa fa-edit" v-show="profile.is_self" style="color: blue;" onclick="toggleInput('owner_profile_status')"></i>
                        </label> 
                        <label for="profile_status_input" class="owner_profile_status hide" v-show="profile.is_self" style="color: blue;">
                            <input type="text" :style="profile.is_self==false? 'display: none':'outline: none;' " v-model="profile.data.status" id="profile_status_input">
                            <i class="fa fa-window-close"  onclick="toggleInput('owner_profile_status')"></i>
                        </label> 
                    </div>
                    <div class="modal fade" id="profileModal" role="dialog">
                        <div class="modal-dialog modal-xl"  style="max-width: max-content;">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" onclick="profile_image_file=null">&times;</button>
                                  </div>
                                  <div class="modal-body ">
                                      <img :src="profile.data.img_link" class="image_size" id="modal_image">
                                      <label for="profile-image-input"  style="float:right; color: blue;">
                                          <i class="fa fa-edit" v-show="profile.is_self"></i>
                                          <input type="file" class="custom-file-input" style="display: none;"  accept="image/*" onchange="preview_image(event)"
                                           name="profile-image-input" id="profile-image-input">
                                      </label>             
                                  </div>
                                  <div class="modal-footer"  v-show="profile.is_self">
                                    <button type="button" onclick="on_preview()" data-dismiss="modal" class="btn btn-default">Preview Profile</button>
                                  </div>      
                          </div>
                          
                        </div>
                      </div>
                </div>
            </div>
            <div v-else>
                <div class=' row' >
                    <div class="col-12 ">
                        <div class='chat_header '>
                            <img :src="currentChatRoomImage" v-show="currentChatRoomImage != ''" class="rounded-circle border" width="44" height="44" style="margin: 3px; ">
                            <label class="chat_head_name" @click="displayProfile(currentChatRoomId)"><b>[{ currentChatRoomName }]</b></label>
                            <label v-show="is_group" class="add_button" ><div @click="displayDropdown"><i class="fa fa-plus"></i> </div>
                                <div id="myDropdown" class="dropdown-contact" >
                                    <div  v-for="contact in contacts">
                                        <div class="row contact_box  border " @click="contact.first_arg==''?'':addToGroup(contact.second_arg)">
                                            <div class="img_box " v-show='contact.img_link'>
                                                <img :src="contact.img_link"  class="rounded-circle border" width="45" height="45">
                                            </div>
                                            <a style="text-decoration: none;" class="detail_box container-fluid" >
                                                <div class="row ">
                                                        <div class="box_top col-12"> [{contact.first_arg}]</div>
                                                        <div class="box_bottom col-12">[{contact.second_arg}]</div>
                                                </div>
                                            </a>
                                        </div>
                                </div>
                                </div>
                            </label>                            
                        </div>                 
                    </div>
                    <div class="col-12 " >
                        <div class='chat_window'  v-cloak>
                            <div  v-for="chatmessage in chatmessages"   >
                                <message-component :chatmessage="chatmessage"  :is_group='is_group' ></message-component>    
                            </div>
                        </div>                 
                    </div>
                    <div class="col-12  ">
                        <div class="write_pad">
                                <textarea id="chat-message-input" class="input_box" type="text" v-model="message_content" @keyup.enter="manageMessage"></textarea>
                        </div>
                    </div>
                    <div class="col-12  ">
                        <div class="write_pad">
                                <label id="chat-message-submit" type="button" class=" btn-info btn-lg"  onclick="sendApply(this)" @click="sendMessage">
                                    <i class="fa fa-paper-plane"></i> 
                                </label>
                                <label for="file-input" class=" btn-info btn-lg">
                                    <i class="fa fa-paperclip  " aria-hidden="true"></i>
                                    <input type="file" class="custom-file-input" onchange="readURL(this)" @change="addFiles" style="display: none;" multiple name="file-input" id="file-input">
                                </label> 
                                <div class='files'></div>                   
                        </div>
                    </div>
                </div>    
            </div>
            {% else %}
            <div class="basic">
                <h2>Hey! I am chatter!</h2>
                <h2>Chat with me!!</h2>
            </div>
            {% endif %}
        </div> 
        <div class='col-md-3 pannels' >
            {% if user.is_authenticated %}
            <div class="row" >
                <a class="col-lg-4 col-md-12 col-4 btn pannel_design border" :class="active" v-on:click="renderChat" id='chat_pannel'>CHAT</a>
                <a class="col-lg-4 col-md-12 col-4 btn pannel_design border"  :class="active" v-on:click="renderContact" id='contact_pannel' >CONTACTS</a>
                <a class="col-lg-4 col-md-12 col-4 btn pannel_design border"  :class="active" v-on:click="renderSearch" id='search_pannel'>SEARCH</a>
            </div>
            <div id='pannels' >
                <div v-if="is_search">
                    <searchbar-component  v-model='user_sub_str' ></searchbar-component>
                </div>
                <div v-else>
                    <button class='add_element btn btn-primary' v-show="!form" @click="renderCreateGroup">Create [{add_type}]</button>
                </div>
                <div v-if="form" >
                    <div class="basic_pannel">
                        <div v-if="add_type=='Group'">
                            <p><label for="username">Group Name</label></p>
                            <p><input class="form-control" type="text" v-model='group_name'></p>
                            <button  @click="createGroup" class="btn btn-primary">Create</button>
                        </div>
                        <div v-else>
                            <p><label for="username">First Name</label></p>
                            <p><input class="form-control" type="text" v-model='first_name'></p>
                            <p><label for="username" >Last Name</label></p>
                            <p><input class="form-control" type="text" v-model='last_name' ></p>
                            <p><label for="username">Username</label></p>
                            <p><input class="form-control" type="text" v-model='username' ></p>
                            <button @click="createContact" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div v-for='(chatroom,index) in chatrooms'>
                        <chatbox-component :on_chatroom='chatroom' :chatindex='index' ></chatbox-component>
                    </div>    
                </div>
            </div>

            {% else %}
            <div class="basic_pannel">
                <h3> Log In </h3>
                <form action="/accounts/login" method="post">
                    {% csrf_token %}
                    <p><label for="username">USERNAME</label></p>
                    <p><input class="form-control" type="text" id="username" name="username"></p>
                    <p><label for="password">PASSWORD</label></p>
                    <p><input class="form-control" type="password" id="password" name="password"></p>
                    <input type="submit" class="btn btn-primary" value="Sign in">
                    <a href='/accounts/register' class="btn btn-primary">Sign up</a>
                </form>
                <div>
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>   
            </div>
            {% endif %}
        </div> 
    </div>
</div>

{% endblock %}



